<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="popup.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
  <script src="../app.js"></script>
  <script src="popup.js"></script>

</head>
<body ng-controller="PopupController">

<div class="gray">Total time: {{loggableTimeTillNow}} / {{totalTimeTillNow}}</div>

<button ng-click="newLogRecord()">New record</button>
<button ng-click="generateReport()">Generate report</button>
<button ng-click="magic()">magic</button>

<div ng-repeat="logRecord in logRecords" class="log-record">
  <div><input type="text" class="description" ng-model="logRecord.description" /></div>
  <div>
    <input type="text" class="time" ng-model="logRecord.startTime" />
    <button ng-click="deleteLogRecord(logRecord)">Delete</button>
    <span class="time-info gray">
      [
      <span class="this-record" title="Time spent on this record">{{logRecord.thisRecordTime}}</span>
      /
      <span class ="group-records" title="time spent on this ticket/group">{{logRecord.groupRecordsTime}}</span>
      ]
    </span>
  </div>
</div>

</body>
</html>